.venv/
.env
*.swp
*.swo
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/
config/.HA_VERSION
config/.cache/
config/.ha_run.lock
config/.storage/
config/blueprints/
config/home-assistant_v2.db
config/home-assistant_v2.db-shm
config/home-assistant_v2.db-wal
config/home-assistant.log
config/home-assistant.log.*
config/deps/
